@keyframes slideAnimation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  #slideshow {
    animation: slideAnimation 5s linear infinite;
  }
  