* {
    box-sizing: border-box;
  }

  body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  p, ol {
    margin-bottom: 20px;
    line-height: 1.6; /* 增加行间距 */
  }

  .full-width-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-section {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    position: relative;
  }

  .content-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* 设置背景图像的透明度 */
  }

  .content-section:first-child::before {
    background-image: url('../materials/about1.jpg');
  }

  .content-section:nth-child(2)::before {
    background-image: url('../materials/about2.jpg');
  }

  .content-text {
    position: relative;
    z-index: 2; /* 确保文字和视频在背景之上 */
  }

  .video-js {
    background-color: black; /* 视频尚未加载时的背景色 */
  }

  .footer {
    background: #333;
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .top-button {
    position: fixed;
    right: 30px;
    bottom: 100px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }